@model DDACTKH.Models.Vessel
@{
    ViewBag.Title = "Edit Vessel";
}

<h2>Edit Vessel</h2>
<p>
    @using (Html.BeginForm("EditVessel", "Home", FormMethod.Post, null))
    {
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.vesselName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.vesselName,
               new { htmlAttributes = new { @readonly = "readonly" } })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.containers)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.containers)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.destinationYard)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.destinationYard)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.arrivalYard)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.arrivalYard)
            </div>
        </fieldset>
        <br />
    <p>
        <input type="submit" value="Save Changes">
    </p>
    }
    </p>